In [87]:
import pandas as pd
import geopandas as gpd
import geopy
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
import matplotlib.pyplot as plt
import folium
from folium.plugins import FastMarkerCluster
import difflib
from shapely.geometry import Point

In [91]:
df = pd.read_excel("Cholera.xlsx")

         State            LGA               ward
0         Abia  Umuahia South     Ubakala A Ward
1         Ondo      Okitipupa  OkitipupaI 1 Ward
2         Ondo      Okitipupa  OkitipupaI 1 Ward
3       Ebonyi        Ishielu                NaN
4       Ebonyi        Ishielu                NaN
...        ...            ...                ...
22776   Jigawa        Birniwa       Birniwa Ward
22777     Yobe         Gulani         Bumsa Ward
22778     Yobe         Gulani      Bularafa Ward
22779  Adamawa       Shelleng      Shelleng Ward
22780  Adamawa       Shelleng        Jumbul Ward

[22781 rows x 3 columns]

In [129]:
df3 = gpd.read_file("nigerian-public-water-supplies.json")

In [268]:
df4 = gpd.read_file('nigerian-dump-sites.json')

In [83]:
df5 = gpd.read_file('/Users/macbookair/Downloads/EHA TASKS/EHA Tasks 2/NORTHWEST INDICATORS/GRID3_Nigeria_-_Local_Government_Area_Boundaries/GRID3_Nigeria_-_Local_Government_Area_Boundaries.shp')

In [84]:
df6 = gpd.read_file('/Users/macbookair/Downloads/nigerian-markets/nigerian-markets.json')

In [85]:
df7 = gpd.read_file('/Users/macbookair/Downloads/EHA TASKS/EHA Tasks 2/NORTHWEST INDICATORS/GRID3_Nigeria_-_Ward_Boundaries/GRID3_Nigeria_-_Ward_Boundaries.shp')

In [423]:
df5['Area'] = df5['geometry'].apply(lambda x:x.area)

In [396]:
df3= df3.to_crs('epsg:26332')

In [398]:
df4 = df4.to_crs('epsg:26332')

In [404]:
df5=df5.to_crs('epsg:26332')

In [465]:
df7 = df7.to_crs('epsg:26332')

In [93]:
df8 = df[~df['ward'].isna()]

In [94]:
df8

         State            LGA               ward
0         Abia  Umuahia South     Ubakala A Ward
1         Ondo      Okitipupa  OkitipupaI 1 Ward
2         Ondo      Okitipupa  OkitipupaI 1 Ward
167     Ebonyi        Ohaukwu          Ngbo Ward
168     Ebonyi        Ohaukwu          Ngbo Ward
...        ...            ...                ...
22776   Jigawa        Birniwa       Birniwa Ward
22777     Yobe         Gulani         Bumsa Ward
22778     Yobe         Gulani      Bularafa Ward
22779  Adamawa       Shelleng      Shelleng Ward
22780  Adamawa       Shelleng        Jumbul Ward

[9492 rows x 3 columns]

In [104]:
df8['ward'] = df8['ward'].apply(lambda x:" ".join(x.split(" ")[:-1]))

/var/folders/ks/cpcnjkt95qx6v7hynw8xydkr0000gp/T/ipykernel_3431/3286625278.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df8['ward'] = df8['ward'].apply(lambda x:" ".join(x.split(" ")[:-1]))

In [105]:
df8

         State            LGA          ward
0         Abia  Umuahia South     Ubakala A
1         Ondo      Okitipupa  OkitipupaI 1
2         Ondo      Okitipupa  OkitipupaI 1
167     Ebonyi        Ohaukwu          Ngbo
168     Ebonyi        Ohaukwu          Ngbo
...        ...            ...           ...
22776   Jigawa        Birniwa       Birniwa
22777     Yobe         Gulani         Bumsa
22778     Yobe         Gulani      Bularafa
22779  Adamawa       Shelleng      Shelleng
22780  Adamawa       Shelleng        Jumbul

[9492 rows x 3 columns]

In [106]:
df8 = df8.reset_index(drop=True)

In [107]:
df8 = df8.drop_duplicates()

In [108]:
df8['ward'] =df8['ward'].apply(lambda x:x.replace('Ward', ''))

In [109]:
df8 = df8.reset_index(drop=True)

In [110]:
df8

       State            LGA              ward
0       Abia  Umuahia South         Ubakala A
1       Ondo      Okitipupa      OkitipupaI 1
2     Ebonyi        Ohaukwu              Ngbo
3    Bayelsa  Southern Ijaw            Ekowe
4       Ondo          Irele         Akotogbo
..       ...            ...               ...
904    Benue          Agatu              Usha
905  Zamfara        Maradun  Damaga/Gama Giwa
906    Benue          Agatu              Egba
907  Adamawa          Girei           Girei A
908   Sokoto          Kebbe             Sangi

[909 rows x 3 columns]

In [112]:
def get_ward_code(data1, data2):
    cholera = data1.copy()
    cholera['WardCode'] = ""
    cholera['geometry'] = ""
    size = cholera.shape[0]
    for i in range(0,size):
        ward = cholera.loc[i,'ward']
        lga = cholera.loc[i,'LGA']
        df = data2[(data2['wardname'] == ward) & (data2['lganame']== lga)]['wardcode']
        print(df)
        df1 = data2[(data2['wardname'] == ward) & (data2['lganame']== lga)]['geometry']
        if df.empty:
            continue
        cholera.at[i,'WardCode'] = df.item()
        cholera.loc[i,'geometry'] = df1.item()
    return cholera

In [113]:
df9 = get_ward_code(df8,df7)

6852    ABSAPR12
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
5699    42007
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
4553    42010
Name: wardcode, dtype: object
4668    42009
Name: wardcode, dtype: object
4473    42008
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
5620    42002
Name: wardcode, dtype: object
5702    42005
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
3752    10803
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
6720    FCTGWA04
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
2699    BA0112
Name: wardcode, dtype: object
2585    BA0104
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
1867    41609
Name: wardcode, dtype: object
9096    70907
Name: wardcode, dtype: object
5406    41607
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
4226    71004
Name: wardcode, dtype: object
2568    BA1306
Name: wardcode, dtype: object
8016    ADSYLN06
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
2659    BA0116
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
4096    BA1310
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
8756    GMSAKK03
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
3010    70701
Name: wardcode, dtype: object
7439    BA0109
Name: wardcode, dtype: object
3992    BA0111
Name: wardcode, dtype: object
2945    41301
Name: wardcode, dtype: object
2726    GMSBLG04
Name: wardcode, dtype: object
7923    ADSNUM01
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
4955    41710
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
414    KD0911
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
3716    70708
Name: wardcode, dtype: object
8391    GMSAKK02
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
6103    KD0902
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
2615    70205
Name: wardcode, dtype: object
7826    ADSYLA08
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
2662    BA0118
Name: wardcode, dtype: object
8680    GMSYDB01
Name: wardcode, dtype: object
8297    GMSAKK08
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
2966    70306
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
1911    11410
Name: wardcode, dtype: object
8636    GMSGME11
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
7978    ADSSHG09
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
8743    GMSGME02
Name: wardcode, dtype: object
3897    GMSGME05
Name: wardcode, dtype: object
4359    10409
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
4410    71001
Name: wardcode, dtype: object
8217    GMSYDB04
Name: wardcode, dtype: object
1145    ADSYLN09
Name: wardcode, dtype: object
2921    70806
Name: wardcode, dtype: object
673    GMSGME10
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
3766    70804
Name: wardcode, dtype: object
7248    71409
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
8474    GMSAKK05
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
1301    ADSYLN07
Name: wardcode, dtype: object
1147    ADSYLN05
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
5105    42806
Name: wardcode, dtype: object
9039    10402
Name: wardcode, dtype: object
4149    10410
Name: wardcode, dtype: object
5969    PLSBSA10
Name: wardcode, dtype: object
5843    PLSBSA03
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
3866    TRSARD09
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
4288    70702
Name: wardcode, dtype: object
4360    10401
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
3002    70311
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
5573    42310
Name: wardcode, dtype: object
5501    41809
Name: wardcode, dtype: object
5485    BA1716
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
6717    41811
Name: wardcode, dtype: object
5627    41808
Name: wardcode, dtype: object
5280    KN0903
Name: wardcode, dtype: object
3965    GMSAKK04
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
4864    41801
Name: wardcode, dtype: object
2527    41806
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
3384    41805
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
5068    41904
Name: wardcode, dtype: object
3085    70805
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
3774    70801
Name: wardcode, dtype: object
3755    70803
Name: wardcode, dtype: object
4657    42708
Name: wardcode, dtype: object
8369    GMSGME01
Name: wardcode, dtype: object
5526    40602
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
5031    40610
Name: wardcode, dtype: object
7714    ADSGUY03
Name: wardcode, dtype: object
1137    ADSYLN02
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
7935    ADSSHG05
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
8205    GMSFKY03
Name: wardcode, dtype: object
5997    PLSBSA13
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
4199    BA1210
Name: wardcode, dtype: object
2904    70802
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
7763    70302
Name: wardcode, dtype: object
2905    71205
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
2581    70504
Name: wardcode, dtype: object
4388    71204
Name: wardcode, dtype: object
8487    GMSAKK09
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
423    KD1012
Name: wardcode, dtype: object
9093    71403
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
3132    71207
Name: wardcode, dtype: object
3022    71508
Name: wardcode, dtype: object
1365    71501
Name: wardcode, dtype: object

Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
2481    70607
Name: wardcode, dtype: object
5269    BA1713
Name: wardcode, dtype: object
4220    80610
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
3832    80611
Name: wardcode, dtype: object
298    GMSGME04
Name: wardcode, dtype: object
5200    42908
Name: wardcode, dtype: object
5330    NISMKW06
Name: wardcode, dtype: object
3092    71210
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
1300    ADSGRE02
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
4557    BA1705
Name: wardcode, dtype: object
5528    NISMKW03
Name: wardcode, dtype: object
9156    KN3608
Name: wardcode, dtype: object
8740    GMSKLT01
Name: wardcode, dtype: object
7377    71408
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
4257    70706
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
2953    70304
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
3014    70303
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
5623    JI1505
Name: wardcode, dtype: object
3715    70402
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
5017    NASNBB09
Name: wardcode, dtype: object
410    KD0910
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
6316    KD0407
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
2918    70508
Name: wardcode, dtype: object
1975    11602
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
3898    GMSGME03
Name: wardcode, dtype: object
4476    KN3611
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
3027    71502
Name: wardcode, dtype: object
5461    JI0803
Name: wardcode, dtype: object
4744    JI2211
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
5399    BA1707
Name: wardcode, dtype: object
5329    BA1709
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
4837    JI1405
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
880    LASIKU17
Name: wardcode, dtype: object
5128    43303
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
4810    JI2306
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
9105    70811
Name: wardcode, dtype: object
2988    71503
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
884    LASIKU15
Name: wardcode, dtype: object
5624    JI2209
Name: wardcode, dtype: object
5339    JI2207
Name: wardcode, dtype: object
5278    JI1407
Name: wardcode, dtype: object
7354    51706
Name: wardcode, dtype: object
5417    43409
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
5416    JI1409
Name: wardcode, dtype: object
6827    JI0708
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
2673    50210
Name: wardcode, dtype: object
96    KN1209
Name: wardcode, dtype: object
4651    JI1403
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
2938    12013
Name: wardcode, dtype: object
4513    40505
Name: wardcode, dtype: object
4197    BA2004
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
8759    GMSBLG10
Name: wardcode, dtype: object
7770    JI1411
Name: wardcode, dtype: object
4926    JI1406
Name: wardcode, dtype: object
3011    70710
Name: wardcode, dtype: object
8745    GMSBLG09
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
4632    KN3308
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
6067    GMSNFD07
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
3513    70809
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
4422    71208
Name: wardcode, dtype: object
7269    70506
Name: wardcode, dtype: object
3177    NISGWU06
Name: wardcode, dtype: object
4453    43202
Name: wardcode, dtype: object
5368    JI1401
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
3021    70511
Name: wardcode, dtype: object
5366    JI1408
Name: wardcode, dtype: object
2683    11810
Name: wardcode, dtype: object
5108    41602
Name: wardcode, dtype: object
5708    BA0803
Name: wardcode, dtype: object
7859    ADSGUY02
Name: wardcode, dtype: object
5239    JI1410
Name: wardcode, dtype: object
3839    70707
Name: wardcode, dtype: object
5315    JI2310
Name: wardcode, dtype: object
9202    JI2602
Name: wardcode, dtype: object
9244    JI2610
Name: wardcode, dtype: object
3003    70513
Name: wardcode, dtype: object
387    KN1801
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
2754    JI0103
Name: wardcode, dtype: object
3168    81109
Name: wardcode, dtype: object
5046    41606
Name: wardcode, dtype: object
4313    BA1205
Name: wardcode, dtype: object
4894    41506
Name: wardcode, dtype: object
7929    ADSSHG10
Name: wardcode, dtype: object
4790    40503
Name: wardcode, dtype: object
9212    KN4314
Name: wardcode, dtype: object
4906    BA1710
Name: wardcode, dtype: object
5679    KN2008
Name: wardcode, dtype: object
9230    KN2001
Name: wardcode, dtype: object
5212    KN2005
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
1593    70405
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
2794    JI0201
Name: wardcode, dtype: object
9216    JI0206
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
4537    40606
Name: wardcode, dtype: object
8307    GMSFKY02
Name: wardcode, dtype: object
5553    JI0205
Name: wardcode, dtype: object
5588    JI0710
Name: wardcode, dtype: object
5009    NASNBB08
Name: wardcode, dtype: object
3526    TRSARD08
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
5185    40508
Name: wardcode, dtype: object
4655    40501
Name: wardcode, dtype: object
4565    43210
Name: wardcode, dtype: object
3816    BA0414
Name: wardcode, dtype: object
5541    JI0211
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
9250    41403
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
9239    JI0809
Name: wardcode, dtype: object
4249    BA0409
Name: wardcode, dtype: object
4332    BA0408
Name: wardcode, dtype: object
8497    GMSFKY09
Name: wardcode, dtype: object
4573    40504
Name: wardcode, dtype: object
9231    81105
Name: wardcode, dtype: object
3170    BA1404
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
5477    42805
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
5194    KN1808
Name: wardcode, dtype: object
3530    TRSARD04
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
4873    81407
Name: wardcode, dtype: object
5255    81404
Name: wardcode, dtype: object
3438    ODSOWO09
Name: wardcode, dtype: object
5073    JI2606
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
5517    71104
Name: wardcode, dtype: object
5190    JI1404
Name: wardcode, dtype: object
7267    GMSNFD09
Name: wardcode, dtype: object
5124    JI2301
Name: wardcode, dtype: object
4527    JI2308
Name: wardcode, dtype: object
4763    JI2302
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
4455    81403
Name: wardcode, dtype: object
5413    JI2202
Name: wardcode, dtype: object
3734    KN0604
Name: wardcode, dtype: object
5486    JI0701
Name: wardcode, dtype: object
5140    42804
Name: wardcode, dtype: object
7948    ADSSHG01
Name: wardcode, dtype: object
5448    KN2408
Name: wardcode, dtype: object
5084    KN2411
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
5030    JI0102
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
4710    NASKEN03
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
2517    81206
Name: wardcode, dtype: object
5568    JI1402
Name: wardcode, dtype: object
5614    40609
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
4961    42904
Name: wardcode, dtype: object
5636    40605
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)

5646    JI2307
Name: wardcode, dtype: object
5261    43205
Name: wardcode, dtype: object
5451    43008
Name: wardcode, dtype: object
4844    43002
Name: wardcode, dtype: object
5058    43010
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
4024    70703
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
4458    40307
Name: wardcode, dtype: object
4465    40310
Name: wardcode, dtype: object
4631    40306
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
4887    43006
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
2489    81208
Name: wardcode, dtype: object
4500    43203
Name: wardcode, dtype: object
4469    43201
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
5359    41705
Name: wardcode, dtype: object
5415    42809
Name: wardcode, dtype: object
3515    NISSUL09
Name: wardcode, dtype: object
6116    40604
Name: wardcode, dtype: object
4883    KN1907
Name: wardcode, dtype: object
2866    BNSYGJ05
Name: wardcode, dtype: object
2747    KN1910
Name: wardcode, dtype: object
9264    KN1906
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
4709    TRSWKR05
Name: wardcode, dtype: object
2992    70807
Name: wardcode, dtype: object
2976    70812
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
4244    81203
Name: wardcode, dtype: object
1848    40105
Name: wardcode, dtype: object
6211    KD1103
Name: wardcode, dtype: object
5171    JI2305
Name: wardcode, dtype: object
5582    JI0608
Name: wardcode, dtype: object
4510    71102
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
3681    NISSUL01
Name: wardcode, dtype: object
5469    42901
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
4591    BA1801
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
5499    41611
Name: wardcode, dtype: object
4925    KN4206
Name: wardcode, dtype: object
4658    BA0202
Name: wardcode, dtype: object
3176    NISGWU03
Name: wardcode, dtype: object
2940    40305
Name: wardcode, dtype: object
4673    40608
Name: wardcode, dtype: object
4393    TRSBAL07
Name: wardcode, dtype: object
5425    42306
Name: wardcode, dtype: object
5301    40308
Name: wardcode, dtype: object
9215    KN3510
Name: wardcode, dtype: object
4286    11807
Name: wardcode, dtype: object
6219    KD0502
Name: wardcode, dtype: object
6251    KD2204
Name: wardcode, dtype: object
4515    KN2201
Name: wardcode, dtype: object
3077    KN1905
Name: wardcode, dtype: object
1174    KN1903
Name: wardcode, dtype: object
4478    BA1804
Name: wardcode, dtype: object
4588    BA1803
Name: wardcode, dtype: object
2880    BNSNAK03
Name: wardcode, dtype: object
4767    KN1909
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
4835    KN2006
Name: wardcode, dtype: object
3760    80909
Name: wardcode, dtype: object
4131    80908
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
5639    41608
Name: wardcode, dtype: object
4800    43401
Name: wardcode, dtype: object
5106    KN2415
Name: wardcode, dtype: object
4508    43204
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
5216    KN1902
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
606    ABSAPR11
Name: wardcode, dtype: object
4567    BA0211
Name: wardcode, dtype: object
2746    43011
Name: wardcode, dtype: object
5761    40102
Name: wardcode, dtype: object
5364    41708
Name: wardcode, dtype: object
7313    KN2004
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
5036    KN3504
Name: wardcode, dtype: object
5394    41905
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
4626    JI0310
Name: wardcode, dtype: object
5286    KN1904
Name: wardcode, dtype: object
2781    BA0801
Name: wardcode, dtype: object
1168    61703
Name: wardcode, dtype: object
4759    TRSWKR03
Name: wardcode, dtype: object
2782    40405
Name: wardcode, dtype: object
5127    41101
Name: wardcode, dtype: object
5229    41103
Name: wardcode, dtype: object
4774    41104
Name: wardcode, dtype: object
5203    41109
Name: wardcode, dtype: object
9201    41110
Name: wardcode, dtype: object
7747    JI0308
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
4807    42801
Name: wardcode, dtype: object
9251    KN4209
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
4869    40407
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
2679    BA0103
Name: wardcode, dtype: object
4880    BA1712
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
4888    KN4208
Name: wardcode, dtype: object
1844    KN4201
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
5052    KN2501
Name: wardcode, dtype: object
4265    BA2014
Name: wardcode, dtype: object
4303    BA2012
Name: wardcode, dtype: object
4063    BA2013
Name: wardcode, dtype: object
2684    BA2010
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
5266    41501
Name: wardcode, dtype: object
6249    KD2001
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
4946    42802
Name: wardcode, dtype: object
4884    40204
Name: wardcode, dtype: object
6168    KD2006
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
4545    BNSNAK06
Name: wardcode, dtype: object
4133    BA0902
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
5640    JI1201
Name: wardcode, dtype: object
5536    JI1206
Name: wardcode, dtype: object
5649    JI1203
Name: wardcode, dtype: object
2728    41405
Name: wardcode, dtype: object
9263    43108
Name: wardcode, dtype: object
4156    BA2002
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
4394    TRSBAL01
Name: wardcode, dtype: object
2318    BA1508
Name: wardcode, dtype: object
8660    61401
Name: wardcode, dtype: object
7254    KN3103
Name: wardcode, dtype: object
4962    62306
Name: wardcode, dtype: object
4085    BA1312
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
9027    62307
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
347    KN0706
Name: wardcode, dtype: object
4714    40701
Name: wardcode, dtype: object
9106    10405
Name: wardcode, dtype: object
5306    KN0502
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
9090    TRSGKA06
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
4789    KN0710
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
5217    41510
Name: wardcode, dtype: object
8829    61405
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
5227    40411
Name: wardcode, dtype: object
1802    40108
Name: wardcode, dtype: object
4958    41411
Name: wardcode, dtype: object
8782    61709
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
4726    NASWAM02
Name: wardcode, dtype: object
6299    KD1606
Name: wardcode, dtype: object
6053    KD1603
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
1289    TRSJAL03
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
3442    ODSOWO06
Name: wardcode, dtype: object
6704    KN3404
Name: wardcode, dtype: object
3982    70910
Name: wardcode, dtype: object
3665    ODSOET05
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
7523    ODSOWT04
Name: wardcode, dtype: object

Series([], Name: wardcode, dtype: object)
6295    KD1106
Name: wardcode, dtype: object
5440    40704
Name: wardcode, dtype: object
3666    ODSOET07
Name: wardcode, dtype: object
4816    43103
Name: wardcode, dtype: object
9249    43106
Name: wardcode, dtype: object
870    ODSOWT07
Name: wardcode, dtype: object
3136    TRSGKA03
Name: wardcode, dtype: object
4566    BA1815
Name: wardcode, dtype: object
5288    BA1812
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
3386    ODSOET09
Name: wardcode, dtype: object
3378    ODSANW04
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
3427    ODSOET04
Name: wardcode, dtype: object
3740    KN2107
Name: wardcode, dtype: object
5529    81008
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
2867    41604
Name: wardcode, dtype: object
1914    TRSBBB05
Name: wardcode, dtype: object
9139    TRSWKR08
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
7408    ODSAKN02
Name: wardcode, dtype: object
3516    NISSUL10
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
7527    ODSOWT12
Name: wardcode, dtype: object
871    ODSOWT11
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
4291    BA1308
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
5045    80904
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
5960    PLSBUU01
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
5815    PLSBUU17
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
2688    81210
Name: wardcode, dtype: object
1493    PLSBSA20
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
1274    ODSIAE05
Name: wardcode, dtype: object
4439    ABSHAF12
Name: wardcode, dtype: object
6958    IMSIHI09
Name: wardcode, dtype: object
8379    CRSAKP11
Name: wardcode, dtype: object
5540    40904
Name: wardcode, dtype: object
190    41409
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
3356    ODSOET03
Name: wardcode, dtype: object
3444    ODSOWO10
Name: wardcode, dtype: object
2788    BA1514
Name: wardcode, dtype: object
3381    ODSANW08
Name: wardcode, dtype: object
3879    ODSANW09
Name: wardcode, dtype: object
5698    TRSGAS07
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
1941    43104
Name: wardcode, dtype: object
767    NISSUL04
Name: wardcode, dtype: object
8969    ABSHAF15
Name: wardcode, dtype: object
1908    ODSANE10
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
4747    TRSWKR07
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
4841    43105
Name: wardcode, dtype: object
4964    KN0602
Name: wardcode, dtype: object
9267    KN0607
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
3837    50205
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
245    IMSNSA12
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
3375    ODSAKS07
Name: wardcode, dtype: object
4845    42605
Name: wardcode, dtype: object
330    KN2111
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
7282    TRSBAL09
Name: wardcode, dtype: object
365    KN1203
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
5484    KN0703
Name: wardcode, dtype: object
363    KN3102
Name: wardcode, dtype: object
5634    KN2509
Name: wardcode, dtype: object
5338    KN2504
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
361    KN3104
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
3546    40406
Name: wardcode, dtype: object
3729    TRSGAS11
Name: wardcode, dtype: object
7347    TRSBAL02
Name: wardcode, dtype: object
2510    50202
Name: wardcode, dtype: object
5038    KN1005
Name: wardcode, dtype: object
6716    NISGWU04
Name: wardcode, dtype: object
3141    TRSGKA10
Name: wardcode, dtype: object
226    IMSWER14
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
7305    80105
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
6766    ABSUNC11
Name: wardcode, dtype: object
9131    TRSWKR06
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
3722    50106
Name: wardcode, dtype: object
3705    ABSUNC10
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
7243    CRSKTA05
Name: wardcode, dtype: object
8470    CRSKTA04
Name: wardcode, dtype: object
8112    CRSKTA07
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
4973    KN2704
Name: wardcode, dtype: object
7226    IMSRRT10
Name: wardcode, dtype: object
8397    ABSACH18
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
5551    KN4207
Name: wardcode, dtype: object
8128    ABSHAF16
Name: wardcode, dtype: object
2871    BNSGTU09
Name: wardcode, dtype: object
5562    80709
Name: wardcode, dtype: object
9214    80705
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
1942    41603
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
8156    CRSGEP04
Name: wardcode, dtype: object
8286    CRSBNS03
Name: wardcode, dtype: object
3206    CRSDUK05
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
646    IMSAFR05
Name: wardcode, dtype: object
505    IMSRLU02
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
8612    CRSKMM03
Name: wardcode, dtype: object
2885    BNSYGJ03
Name: wardcode, dtype: object
998    LASIOE08
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
8171    GMSBLG07
Name: wardcode, dtype: object
6850    ABSKPU06
Name: wardcode, dtype: object
5043    41707
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
8993    BNSVDY04
Name: wardcode, dtype: object
2843    BNSMKD06
Name: wardcode, dtype: object
1413    IMSKWE08
Name: wardcode, dtype: object
7970    AKSTTU03
Name: wardcode, dtype: object
8457    GMSDKU08
Name: wardcode, dtype: object
2319    IMSKWE07
Name: wardcode, dtype: object
7055    IMSNGN12
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
7316    BYSSAG13
Name: wardcode, dtype: object
1073    LASSMU10
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
3431    ODSODI04
Name: wardcode, dtype: object
2717    BNSVDY10
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
6823    ANSZBL05
Name: wardcode, dtype: object
5621    41702
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
8723    CRSUDU04
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
1685    CRSCAL03
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
6971    ABSKEK10
Name: wardcode, dtype: object
8479    BNSJUX03
Name: wardcode, dtype: object
5480    BNSMKD10
Name: wardcode, dtype: object
3135    61811
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
8419    BNSJUX07
Name: wardcode, dtype: object
6863    IMSUMG14
Name: wardcode, dtype: object
6289    TRSGAS12
Name: wardcode, dtype: object

Series([], Name: wardcode, dtype: object)
8229    BNSPKG08
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
1779    41601
Name: wardcode, dtype: object
6761    ABSUNC06
Name: wardcode, dtype: object
2723    CRSKAM06
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
6888    ABSUNC03
Name: wardcode, dtype: object
8655    CRSKMM07
Name: wardcode, dtype: object
3769    BNSPKG12
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
3806    51205
Name: wardcode, dtype: object
630    ABSABA12
Name: wardcode, dtype: object
7206    ABSUNC07
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
8736    CRSBNS10
Name: wardcode, dtype: object
3047    BNSPKG02
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
6800    ABSUNC08
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
2602    50107
Name: wardcode, dtype: object
4373    50108
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
4002    DTSASB11
Name: wardcode, dtype: object
8652    BNSTSE06
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
7057    IMSNGN06
Name: wardcode, dtype: object
8600    BNSBRT06
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
498    ANSJJT08
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
2862    NASGRU05
Name: wardcode, dtype: object
9319    OYSAKE09
Name: wardcode, dtype: object
8642    OYSAKE03
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
8931    50606
Name: wardcode, dtype: object
6995    IMSNGN10
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
8348    CRSDUK03
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
4605    AKSDUU09
Name: wardcode, dtype: object
3023    BNSBRT07
Name: wardcode, dtype: object
8157    CRSBRA07
Name: wardcode, dtype: object
3104    81110
Name: wardcode, dtype: object
7071    IMSUMG03
Name: wardcode, dtype: object
4161    80402
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
6996    IMSUMG02
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
1290    ADSGRE08
Name: wardcode, dtype: object
6990    IMSNWA12
Name: wardcode, dtype: object
7819    ADSGRE01
Name: wardcode, dtype: object
7253    TRSGAS02
Name: wardcode, dtype: object
2872    BNSGTU02
Name: wardcode, dtype: object
4543    BNSNAK11
Name: wardcode, dtype: object
2861    BNSGTU03
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
8186    BNSBRT05
Name: wardcode, dtype: object
7911    ADSFUR04
Name: wardcode, dtype: object
2846    BNSNAK04
Name: wardcode, dtype: object
4601    40607
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
4005    AKSAFH10
Name: wardcode, dtype: object
2670    80601
Name: wardcode, dtype: object
921    LASATO02
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
9157    81002
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
2887    BNSGTU10
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
5088    BNSGTU01
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
2377    61009
Name: wardcode, dtype: object

In [114]:
df12 = df9[df9['WardCode']=='']

In [117]:
df12['ward_duplicate'] = df12['ward']

/var/folders/ks/cpcnjkt95qx6v7hynw8xydkr0000gp/T/ipykernel_3431/325954574.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df12['ward_duplicate'] = df12['ward']

In [118]:
df12

,State,LGA,ward,WardCode,geometry,ward_duplicate
1,Ondo,Okitipupa,OkitipupaI 1,,,OkitipupaI 1
2,Ebonyi,Ohaukwu,Ngbo,,,Ngbo
3,Bayelsa,Southern Ijaw,Ekowe,,,Ekowe
4,Ondo,Irele,Akotogbo,,,Akotogbo
5,Katsina,Katsina,Gabas III,,,Gabas III
...,...,...,...,...,...,...
897,Ekiti,Moba,Erinmope,,,Erinmope
901,Zamfara,Birnin Magaji/Kiyaw,Birnin Magaji (Birnin,,,Birnin Magaji (Birnin
903,Zamfara,Maradun,Faru/Magami,,,Faru/Magami
905,Zamfara,Maradun,Damaga/Gama Giwa,,,Damaga/Gama Giwa
907,Adamawa,Girei,Girei A,,,Girei A

In [119]:
df12['ward'] = df12['ward'].apply(lambda x: difflib.get_close_matches(x, df7['wardname']))

/var/folders/ks/cpcnjkt95qx6v7hynw8xydkr0000gp/T/ipykernel_3431/2727019937.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df12['ward'] = df12['ward'].apply(lambda x: difflib.get_close_matches(x, df7['wardname']))

In [120]:
df12.reset_index(drop=True,inplace=True)

In [121]:
df12

,State,LGA,ward,WardCode,geometry,ward_duplicate
0,Ondo,Okitipupa,"[Okitipupa 1, Okitipupa 2]",,,OkitipupaI 1
1,Ebonyi,Ohaukwu,"[Ngo, Ngbo 1, Ogbo]",,,Ngbo
2,Bayelsa,Southern Ijaw,"[Ekowe, Ekwe 1, Ekwegbe 2]",,,Ekowe
3,Ondo,Irele,"[Akotogbo 2, Akotogbo 1, Arogbo 3]",,,Akotogbo
4,Katsina,Katsina,"[Gabas 3, Gabas 2, Gabas 1]",,,Gabas III
...,...,...,...,...,...,...
366,Ekiti,Moba,"[Erinmope 1, Erinmape 2, Erinmo Jesa]",,,Erinmope
367,Zamfara,Birnin Magaji/Kiyaw,"[Birnin Magaji, Birnin Magaji, Odeni Magaji / ...",,,Birnin Magaji (Birnin
368,Zamfara,Maradun,"[Faru Magami, Faragai, Magami]",,,Faru/Magami
369,Zamfara,Maradun,[Damaga Gamagiwa],,,Damaga/Gama Giwa
370,Adamawa,Girei,"[Girei 2, Girei 1, Giade A]",,,Girei A

In [122]:
df12 = pd.read_csv('without(wardcode).csv')

In [123]:
df12

,Unnamed: 0,State,LGA,ward,Address,WardCode,geometry
0,0,Ondo,Okitipupa,Okitipupa 1,"Okitipupa,Ondo,Nigeria",NaN,NaN
1,1,Ebonyi,Ohaukwu,Ngbo 1,"Ohaukwu,Ebonyi,Nigeria",NaN,NaN
2,2,Bayelsa,Southern Ijaw,Ekowe,"Southern Ijaw,Bayelsa,Nigeria",NaN,NaN
3,3,Ondo,Irele,Akotogbo 1,"Irele,Ondo,Nigeria",NaN,NaN
4,4,Katsina,Katsina,Gabas 3,"Katsina,Katsina,Nigeria",NaN,NaN
...,...,...,...,...,...,...,...
235,362,Lagos,Shomolu,Igbobi / Fadeyi,"Shomolu,Lagos,Nigeria",NaN,NaN
236,365,Zamfara,Shinkafi,Jangeru,"Shinkafi,Zamfara,Nigeria",NaN,NaN
237,368,Zamfara,Maradun,Faru Magami,"Maradun,Zamfara,Nigeria",NaN,NaN
238,369,Zamfara,Maradun,Damaga Gamagiwa,"Maradun,Zamfara,Nigeria",NaN,NaN
239,370,Adamawa,Girei,Girei 1,"Girei,Adamawa,Nigeria",NaN,NaN

In [124]:
df12 = df12.drop('Unnamed: 0',axis=1)

In [125]:
df12 = df12.reset_index(drop=True)

In [126]:
df7[df7['wardname']=='Ngbo 1']

,FID,globalid,uniq_id,timestamp,editor,wardname,wardcode,lganame,lgacode,statename,statecode,amapcode,status,source,urban,Shape__Are,Shape__Len,geometry
2417,2418,73412958-1808-45cc-8683-caaeca2e57a8,491077,2020-02-18,najib.adam,Ngbo 1,EBSHKW15,Ohaukwu,11012,Ebonyi,EB,NIE EBS HKW,Operational Placeholder,INEC,No,0.005843,0.522844,"POLYGON ((7.96523 6.45720, 7.96615 6.46704, 7...."

In [127]:
df9

,State,LGA,ward,WardCode,geometry
0,Abia,Umuahia South,Ubakala A,ABSAPR12,"POLYGON ((7.46374718028818 5.48372073212613, 7..."
1,Ondo,Okitipupa,OkitipupaI 1,,
2,Ebonyi,Ohaukwu,Ngbo,,
3,Bayelsa,Southern Ijaw,Ekowe,,
4,Ondo,Irele,Akotogbo,,
...,...,...,...,...,...
904,Benue,Agatu,Usha,BNSGTU10,"POLYGON ((7.86704295107137 7.89419374624447, 7..."
905,Zamfara,Maradun,Damaga/Gama Giwa,,
906,Benue,Agatu,Egba,BNSGTU01,"POLYGON ((7.98836411391278 7.86106937705017, 7..."
907,Adamawa,Girei,Girei A,,
908,Sokoto,Kebbe,Sangi,61009,"POLYGON ((4.79947255161699 11.9324719224413, 4..."

In [128]:
df9 = df9[~(df9['WardCode']== "")]

In [129]:
df9

,State,LGA,ward,WardCode,geometry
0,Abia,Umuahia South,Ubakala A,ABSAPR12,"POLYGON ((7.46374718028818 5.48372073212613, 7..."
7,Katsina,Kankia,Rimaye,42007,"POLYGON ((7.87640474338423 12.235241306741, 7...."
10,Katsina,Kankia,Tsa Magam,42010,MULTIPOLYGON (((7.66813721685912 12.3379444635...
11,Katsina,Kankia,Tafashiya Nasarawa,42009,"POLYGON ((7.81081842403108 12.535974301273, 7...."
12,Katsina,Kankia,Sukuntuni,42008,"POLYGON ((7.79887369606428 12.2639991427463, 7..."
...,...,...,...,...,...
900,Lagos,Ajeromi/Ifelodun,Ajegunle,LASATO02,"POLYGON ((3.3509085676763 6.45495156086588, 3...."
902,Zamfara,Maru,Bingi,81002,"POLYGON ((6.37280000011998 12.0712999995953, 6..."
904,Benue,Agatu,Usha,BNSGTU10,"POLYGON ((7.86704295107137 7.89419374624447, 7..."
906,Benue,Agatu,Egba,BNSGTU01,"POLYGON ((7.98836411391278 7.86106937705017, 7..."
908,Sokoto,Kebbe,Sangi,61009,"POLYGON ((4.79947255161699 11.9324719224413, 4..."

In [130]:
df12 = get_ward_code(df12,df7)

Series([], Name: wardcode, dtype: object)
2417    EBSHKW15
Name: wardcode, dtype: object
3208    BYSSPR05
Name: wardcode, dtype: object
3700    ODSIRL03
Name: wardcode, dtype: object
5167    42105
Name: wardcode, dtype: object
5547    42111
Name: wardcode, dtype: object
9034    CRSTGD02
Name: wardcode, dtype: object
2513    EBSAFK24
Name: wardcode, dtype: object
6113    EBSHKW35
Name: wardcode, dtype: object
9292    EBSHKW33
Name: wardcode, dtype: object
4656    KN0909
Name: wardcode, dtype: object
7069    BYSGBB11
Name: wardcode, dtype: object
1259    BYSBRS02
Name: wardcode, dtype: object
7220    BYSGBB03
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
1258    BYSBRS01
Name: wardcode, dtype: object
1256    BYSBRS04
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
1260    BYSBRS09
Name: wardcode, dtype: object
4871    41304
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
7390    ODSIDE05
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
6770    ABSMBL03
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
3671    BYSKMK01
Name: wardcode, dtype: object
3673    BYSKMK08
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
3033    70308
Name: wardcode, dtype: object
8384    GMSYDB08
Name: wardcode, dtype: object
3199    BYSSPR15
Name: wardcode, dtype: object
3217    BYSSPR13
Name: wardcode, dtype: object
8649    GMSYDB03
Name: wardcode, dtype: object
4712    ODSAKN10
Name: wardcode, dtype: object
3185    70503
Name: wardcode, dtype: object
4586    70510
Name: wardcode, dtype: object
8175    GMSYDB10
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
3397    BYSKMK10
Name: wardcode, dtype: object
3675    BYSKMK09
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
1395    70407
Name: wardcode, dtype: object
8261    GMSNFD01
Name: wardcode, dtype: object
7394    70505
Name: wardcode, dtype: object
5164    80810
Name: wardcode, dtype: object
9079    70509
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
7409    ODSAKN12
Name: wardcode, dtype: object
5116    42301
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
5648    42103
Name: wardcode, dtype: object
4805    42102
Name: wardcode, dtype: object
9286    42110
Name: wardcode, dtype: object
4911    42109
Name: wardcode, dtype: object
388    42106
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
5456    42108
Name: wardcode, dtype: object
7343    70410
Name: wardcode, dtype: object
8252    GMSYDB02
Name: wardcode, dtype: object
4109    61805
Name: wardcode, dtype: object
2977    70501
Name: wardcode, dtype: object
2097    10408
Name: wardcode, dtype: object
4848    42909
Name: wardcode, dtype: object
3018    70409
Name: wardcode, dtype: object
3928    NISMKW10
Name: wardcode, dtype: object
2987    70305
Name: wardcode, dtype: object
843    71401
Name: wardcode, dtype: object
841    71406
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
5291    NISMKW09
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
4402    71405
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
2924    70406
Name: wardcode, dtype: object
845    71407
Name: wardcode, dtype: object
6567    41406
Name: wardcode, dtype: object
7746    70301
Name: wardcode, dtype: object
9069    70310
Name: wardcode, dtype: object
5841    PLSPKN14
Name: wardcode, dtype: object
9066    71206
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
2236    70403
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
952    LASIKU02
Name: wardcode, dtype: object
3193    BYSKMR03
Name: wardcode, dtype: object
891    LASIKU23
Name: wardcode, dtype: object
301    GMSGME06
Name: wardcode, dtype: object
4355    11806
Name: wardcode, dtype: object
8555    GMSFKY01
Name: wardcode, dtype: object
4270    11801
Name: wardcode, dtype: object
8306    GMSNFD03
Name: wardcode, dtype: object
7261    KN1405
Name: wardcode, dtype: object
3939    70307
Name: wardcode, dtype: object
2689    11805
Name: wardcode, dtype: object
4240    10503
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
4776    42803
Name: wardcode, dtype: object
5398    KN1610
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
4907    81410
Name: wardcode, dtype: object
5298    KN0605
Name: wardcode, dtype: object
5264    JI1504
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
3524    TRSARD03
Name: wardcode, dtype: object
5630    42504
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
2595    81211
Name: wardcode, dtype: object
5183    40302
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
252    ABSABA13
Name: wardcode, dtype: object
2636    81207
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
3688    BYSKMK07
Name: wardcode, dtype: object
5283    KN4104
Name: wardcode, dtype: object
5956    PLSBKK13
Name: wardcode, dtype: object
3888    NISMKW11
Name: wardcode, dtype: object
2941    70906
Name: wardcode, dtype: object
2610    50209
Name: wardcode, dtype: object
3790    81204
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
2967    70404
Name: wardcode, dtype: object
3351    NISMKW08
Name: wardcode, dtype: object
6954    IMSNGN16
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
2598    80902
Name: wardcode, dtype: object
5481    KN2502
Name: wardcode, dtype: object
4823    40409
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
5345    40803
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
5426    40809
Name: wardcode, dtype: object
5554    KN1908
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
5473    KN0913
Name: wardcode, dtype: object
5908    PLSSHD16
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
8083    60204
Name: wardcode, dtype: object
3154    TRSBAL11
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
2323    70909
Name: wardcode, dtype: object
3525    TRSARD10
Name: wardcode, dtype: object
4749    40412
Name: wardcode, dtype: object
1160    61706
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
7278    ODSIDNE01
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
4536    BNSNAK02
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
4083    ODSAKN08
Name: wardcode, dtype: object
2883    BNSNAK07
Name: wardcode, dtype: object
4349    ODSIDNE08
Name: wardcode, dtype: object
3443    ODSOWO03
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
4061    ODSIDE03
Name: wardcode, dtype: object
3953    ODSIDE02
Name: wardcode, dtype: object
3701    ODSIRL06
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
1175    41402
Name: wardcode, dtype: object
10    BYSKMR01
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
5903    PLSSHD14
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
3374    ODSAKS10
Name: wardcode, dtype: object
4734    ODSAKN03
Name: wardcode, dtype: object
3382    ODSANW03
Name: wardcode, dtype: object
3881    ODSANW07
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
787    NISSUL02
Name: wardcode, dtype: object
3418    ODSPUP02
Name: wardcode, dtype: object
3218    ODSOSE10
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
572    ABSABA06
Name: wardcode, dtype: object
6755    IMSNGN05
Name: wardcode, dtype: object
1295    TRSJAL02
Name: wardcode, dtype: object
3373    ODSAKS01
Name: wardcode, dtype: object
5297    42807
Name: wardcode, dtype: object
4804    KN4210
Name: wardcode, dtype: object
3200    BYSKMR11
Name: wardcode, dtype: object
303    KN2105
Name: wardcode, dtype: object
5567    TRSGAS10
Name: wardcode, dtype: object
2776    40206
Name: wardcode, dtype: object
4607    42609
Name: wardcode, dtype: object

7441    BYSNEM06
Name: wardcode, dtype: object
5626    42107
Name: wardcode, dtype: object
6964    IMSNKR02
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
666    ANSAWK19
Name: wardcode, dtype: object
485    IMSRLU08
Name: wardcode, dtype: object
7018    IMSRLU03
Name: wardcode, dtype: object
8121    ABSHAF14
Name: wardcode, dtype: object
6822    IMSRLU06
Name: wardcode, dtype: object
8574    GMSYDB07
Name: wardcode, dtype: object
2819    BNSYGJ06
Name: wardcode, dtype: object
1414    IMSNKR03
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
Series([], Name: wardcode, dtype: object)
4126    50109
Name: wardcode, dtype: object
5676    42112
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
4677    NASLFA07
Name: wardcode, dtype: object
8328    BNSJUX11
Name: wardcode, dtype: object
486    IMSAFR14
Name: wardcode, dtype: object
1777    IMSWER05
Name: wardcode, dtype: object
3155    BYSSPR16
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
8445    61807
Name: wardcode, dtype: object
6851    IMSAFR15
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
6914    IMSEHM10
Name: wardcode, dtype: object
3537    TRSGAS01
Name: wardcode, dtype: object
7041    IMSGUA08
Name: wardcode, dtype: object
Series([], Name: wardcode, dtype: object)
7253    TRSGAS02
Name: wardcode, dtype: object
7257    TRSGAS04
Name: wardcode, dtype: object
7359    AKSETN02
Name: wardcode, dtype: object
6860    IMSUMG06
Name: wardcode, dtype: object
7687    LASSMU08
Name: wardcode, dtype: object
2736    81102
Name: wardcode, dtype: object
2477    80903
Name: wardcode, dtype: object
5690    80901
Name: wardcode, dtype: object
8012    ADSGRE04
Name: wardcode, dtype: object

In [131]:
df12 = df12[~(df12['WardCode']=="")]

In [132]:
df7[df7['wardname']== 'Okitipupa 1']['wardcode']

3417    ODSPUP12
Name: wardcode, dtype: object

In [133]:
df7[df7['wardcode']=='42007']

,FID,globalid,uniq_id,timestamp,editor,wardname,wardcode,lganame,lgacode,statename,statecode,amapcode,status,source,urban,Shape__Are,Shape__Len,geometry
5699,5700,cc81a3e0-e121-4c50-aa6c-b662ef140dcb,492859,2019-03-16,oluseye.abraham,Rimaye,42007,Kankia,420,Katsina,KT,NIE KTS KNK RIM,Operational Validated,INEC,No,0.006775,0.55105,"POLYGON ((7.87640 12.23524, 7.86746 12.23394, ..."

In [134]:
df[df['LGA']=='Ohaukwu']

      State      LGA                 ward
118  Ebonyi  Ohaukwu                  NaN
119  Ebonyi  Ohaukwu                  NaN
120  Ebonyi  Ohaukwu                  NaN
121  Ebonyi  Ohaukwu                  NaN
122  Ebonyi  Ohaukwu                  NaN
..      ...      ...                  ...
222  Ebonyi  Ohaukwu         Okposhi Ward
224  Ebonyi  Ohaukwu         Okposhi Ward
248  Ebonyi  Ohaukwu            Ngbo Ward
249  Ebonyi  Ohaukwu  Umuogudu Oshia Ward
250  Ebonyi  Ohaukwu   Umuogudu Akpu Ward

[66 rows x 3 columns]

In [135]:
df9

,State,LGA,ward,WardCode,geometry
0,Abia,Umuahia South,Ubakala A,ABSAPR12,"POLYGON ((7.46374718028818 5.48372073212613, 7..."
7,Katsina,Kankia,Rimaye,42007,"POLYGON ((7.87640474338423 12.235241306741, 7...."
10,Katsina,Kankia,Tsa Magam,42010,MULTIPOLYGON (((7.66813721685912 12.3379444635...
11,Katsina,Kankia,Tafashiya Nasarawa,42009,"POLYGON ((7.81081842403108 12.535974301273, 7...."
12,Katsina,Kankia,Sukuntuni,42008,"POLYGON ((7.79887369606428 12.2639991427463, 7..."
...,...,...,...,...,...
900,Lagos,Ajeromi/Ifelodun,Ajegunle,LASATO02,"POLYGON ((3.3509085676763 6.45495156086588, 3...."
902,Zamfara,Maru,Bingi,81002,"POLYGON ((6.37280000011998 12.0712999995953, 6..."
904,Benue,Agatu,Usha,BNSGTU10,"POLYGON ((7.86704295107137 7.89419374624447, 7..."
906,Benue,Agatu,Egba,BNSGTU01,"POLYGON ((7.98836411391278 7.86106937705017, 7..."
908,Sokoto,Kebbe,Sangi,61009,"POLYGON ((4.79947255161699 11.9324719224413, 4..."

In [137]:
df12

,State,LGA,ward,Address,WardCode,geometry
1,Ebonyi,Ohaukwu,Ngbo 1,"Ohaukwu,Ebonyi,Nigeria",EBSHKW15,"POLYGON ((7.96522790674254 6.45719851699801, 7..."
2,Bayelsa,Southern Ijaw,Ekowe,"Southern Ijaw,Bayelsa,Nigeria",BYSSPR05,"POLYGON ((6.09150254031005 4.74682749539267, 6..."
3,Ondo,Irele,Akotogbo 1,"Irele,Ondo,Nigeria",ODSIRL03,"POLYGON ((5.05317543230041 6.47487401012751, 5..."
4,Katsina,Katsina,Gabas 3,"Katsina,Katsina,Nigeria",42105,"POLYGON ((7.64238437284058 13.0548984508029, 7..."
5,Katsina,Katsina,Yamma 1,"Katsina,Katsina,Nigeria",42111,"POLYGON ((7.59157513868178 12.9966134240703, 7..."
...,...,...,...,...,...,...
235,Lagos,Shomolu,Igbobi / Fadeyi,"Shomolu,Lagos,Nigeria",LASSMU08,"POLYGON ((3.37455933094839 6.52792322257869, 3..."
236,Zamfara,Shinkafi,Jangeru,"Shinkafi,Zamfara,Nigeria",81102,"POLYGON ((6.45503879690301 12.9979582666607, 6..."
237,Zamfara,Maradun,Faru Magami,"Maradun,Zamfara,Nigeria",80903,"POLYGON ((6.40548843194563 12.6509678458894, 6..."
238,Zamfara,Maradun,Damaga Gamagiwa,"Maradun,Zamfara,Nigeria",80901,"POLYGON ((6.50083503460922 12.4465499294357, 6..."
239,Adamawa,Girei,Girei 1,"Girei,Adamawa,Nigeria",ADSGRE04,"POLYGON ((12.4541245161336 9.41571798759509, 1..."

In [138]:
df13 = pd.concat([df9,df12], axis=0)

In [139]:
df13 = df13.reset_index(drop=True)

In [140]:
df13.to_csv('Positive_datset.csv', index=False)

In [141]:
df13['Target'] =1

In [142]:
df14 = gpd.read_file('Negative_dataset.shp')

In [143]:
df14 = df14.to_crs('epsg:26332')

In [144]:
df14.crs

<Projected CRS: EPSG:26332>
Name: Minna / UTM zone 32N
Axis Info [cartesian]:
- E[east]: Easting (metre)
- N[north]: Northing (metre)
Area of Use:
- name: Nigeria - offshore deep water - east of 6°E.
- bounds: (6.0, 2.61, 7.82, 3.68)
Coordinate Operation:
- name: UTM zone 32N
- method: Transverse Mercator
Datum: Minna
- Ellipsoid: Clarke 1880 (RGS)
- Prime Meridian: Greenwich

In [147]:
df13 = gpd.GeoDataFrame(df13, geometry='geometry',)

In [148]:
df13

,State,LGA,ward,WardCode,geometry,Address,Target
0,Abia,Umuahia South,Ubakala A,ABSAPR12,"POLYGON ((7.46375 5.48372, 7.46396 5.47503, 7....",NaN,1
1,Katsina,Kankia,Rimaye,42007,"POLYGON ((7.87640 12.23524, 7.86746 12.23394, ...",NaN,1
2,Katsina,Kankia,Tsa Magam,42010,"MULTIPOLYGON (((7.66814 12.33794, 7.66313 12.3...",NaN,1
3,Katsina,Kankia,Tafashiya Nasarawa,42009,"POLYGON ((7.81082 12.53597, 7.81671 12.53810, ...",NaN,1
4,Katsina,Kankia,Sukuntuni,42008,"POLYGON ((7.79887 12.26400, 7.78990 12.26946, ...",NaN,1
...,...,...,...,...,...,...,...
708,Lagos,Shomolu,Igbobi / Fadeyi,LASSMU08,"POLYGON ((3.37456 6.52792, 3.37455 6.52787, 3....","Shomolu,Lagos,Nigeria",1
709,Zamfara,Shinkafi,Jangeru,81102,"POLYGON ((6.45504 12.99796, 6.43705 13.02863, ...","Shinkafi,Zamfara,Nigeria",1
710,Zamfara,Maradun,Faru Magami,80903,"POLYGON ((6.40549 12.65097, 6.40956 12.64589, ...","Maradun,Zamfara,Nigeria",1
711,Zamfara,Maradun,Damaga Gamagiwa,80901,"POLYGON ((6.50084 12.44655, 6.50026 12.44436, ...","Maradun,Zamfara,Nigeria",1
712,Adamawa,Girei,Girei 1,ADSGRE04,"POLYGON ((12.45412 9.41572, 12.47584 9.42933, ...","Girei,Adamawa,Nigeria",1

In [149]:
df13 = df13.set_crs('epsg:26332')

In [150]:
df14 = df14[['statename','lganame','wardname','wardcode','geometry']]

In [151]:
df13 = df13.drop('Address',axis=1)

In [152]:
df14.columns = ['State','LGA','ward','WardCode','geometry']

In [153]:
df14['Target'] = 0

In [650]:
df14

,State,LGA,ward,WardCode,geometry,Target
0,Akwa Ibom,Ikot Ekpene,Ikot Inyang / Ikot Ekpene 6,AKSKTE10,"POLYGON ((354467.524 571522.057, 354262.062 57...",0
1,Akwa Ibom,Ikot Ekpene,Uruaobo / Ikot Ekpene 5,AKSKTE11,"POLYGON ((360376.632 573332.619, 360078.374 57...",0
2,Imo,Nwangele,Amaigbo 2,IMSAMG07,"POLYGON ((287235.135 627809.792, 287054.365 62...",0
3,Abia,Umuahia North,Afugiri 1,ABSUMA02,"POLYGON ((330659.351 620853.549, 331144.592 62...",0
4,Imo,Isiala Mbano,Ogbor,IMSUML08,"POLYGON ((300430.458 623092.277, 300492.130 62...",0
...,...,...,...,...,...,...
323,Ogun,Yewa North,Ijoun,OGSYEN07,"POLYGON ((-190197.737 813910.881, -189775.363 ...",0
324,Ogun,Yewa North,Igbogila / Ibese,OGSYEN06,"POLYGON ((-158152.075 771693.527, -158937.853 ...",0
325,Ogun,Yewa North,Sunwa,OGSYEN11,"POLYGON ((-169938.024 792979.349, -171073.916 ...",0
326,Ogun,Imeko Afon,Imeko,OGSION07,"POLYGON ((-177263.515 833753.722, -176708.544 ...",0
327,Benue,Apa,Oba,BNSGKP07,"POLYGON ((375201.858 839548.396, 374607.407 83...",0

In [651]:
df13

,State,LGA,ward,WardCode,geometry,Target
0,Abia,Umuahia South,Ubakala A,ABSAPR12,"POLYGON ((329878.126 606239.826, 329899.087 60...",1
1,Katsina,Kankia,Rimaye,42007,"POLYGON ((377863.410 1352701.667, 376889.942 1...",1
2,Katsina,Kankia,Tsa Magam,42010,"MULTIPOLYGON (((355262.803 1364164.364, 354719...",1
3,Katsina,Kankia,Tafashiya Nasarawa,42009,"POLYGON ((370876.737 1385994.233, 371517.595 1...",1
4,Katsina,Kankia,Sukuntuni,42008,"POLYGON ((369443.373 1355918.626, 368469.446 1...",1
...,...,...,...,...,...,...
708,Lagos,Shomolu,Igbobi / Fadeyi,LASSMU08,"POLYGON ((-122845.713 724927.158, -122846.791 ...",1
709,Zamfara,Shinkafi,Jangeru,81102,"POLYGON ((224013.125 1438171.160, 222095.374 1...",1
710,Zamfara,Maradun,Faru Magami,80903,"POLYGON ((218248.548 1399817.751, 218685.369 1...",1
711,Zamfara,Maradun,Damaga Gamagiwa,80901,"POLYGON ((228397.116 1377092.070, 228332.183 1...",1
712,Adamawa,Girei,Girei 1,ADSGRE04,"POLYGON ((879510.848 1042566.432, 881883.937 1...",1

In [652]:
df15 = pd.concat([df13,df14], axis=0)

In [654]:
df15.to_csv('complete_dataset.csv')

In [ ]:
def get_number_of_public_water_supplies(cholera, water):
    cholera = cholera.copy()
    cholera['Number_of_public_water_supply'] = 0
    size = cholera.shape[0]
    for i in range(0,size):
        lga = cholera.loc[i,'WardCode']
        df = water[water['ward_code'] == lga].shape[0]
        cholera.at[i,'Number_of_public_water_supply'] = df
    return cholera

In [663]:
df15.reset_index(drop=True, inplace=True)

In [665]:
df15 = get_number_of_public_water_supplies(df15,df3)

In [666]:
df15

,State,LGA,ward,WardCode,geometry,Target,Number_of_public_water_supply
0,Abia,Umuahia South,Ubakala A,ABSAPR12,"POLYGON ((329878.126 606239.826, 329899.087 60...",1,17
1,Katsina,Kankia,Rimaye,42007,"POLYGON ((377863.410 1352701.667, 376889.942 1...",1,0
2,Katsina,Kankia,Tsa Magam,42010,"MULTIPOLYGON (((355262.803 1364164.364, 354719...",1,0
3,Katsina,Kankia,Tafashiya Nasarawa,42009,"POLYGON ((370876.737 1385994.233, 371517.595 1...",1,0
4,Katsina,Kankia,Sukuntuni,42008,"POLYGON ((369443.373 1355918.626, 368469.446 1...",1,0
...,...,...,...,...,...,...,...
1036,Ogun,Yewa North,Ijoun,OGSYEN07,"POLYGON ((-190197.737 813910.881, -189775.363 ...",0,7
1037,Ogun,Yewa North,Igbogila / Ibese,OGSYEN06,"POLYGON ((-158152.075 771693.527, -158937.853 ...",0,1
1038,Ogun,Yewa North,Sunwa,OGSYEN11,"POLYGON ((-169938.024 792979.349, -171073.916 ...",0,4
1039,Ogun,Imeko Afon,Imeko,OGSION07,"POLYGON ((-177263.515 833753.722, -176708.544 ...",0,14
1040,Benue,Apa,Oba,BNSGKP07,"POLYGON ((375201.858 839548.396, 374607.407 83...",0,0

In [668]:
def get_number_of_dump_sites(cholera, water):
    cholera = cholera.copy()
    cholera['Number_of_dump_sites'] = 0
    size = cholera.shape[0]
    for i in range(0,size):
        lga = cholera.loc[i,'WardCode']
        df = water[water['ward_code'] == lga].shape[0]
        cholera.at[i,'Number_of_dump_sites'] = df
    return cholera

In [669]:
df4

,id,global_id,name,type,ownership,ward_code,category,timestamp,lga_name,state_code,state_name,geometry
0,40072,bdcec9cc-06e5-47bb-b30f-a31e0ff8232d,Dumping Site Umuigaga Community,Unofficial,NaN,EBSNCA06,Mixed Dumpsite,2018-02-02 07:43:42.757000+00:00,Onicha,EB,Ebonyi,POINT (373318.148 676490.734)
1,40073,af3a54eb-287c-45c0-b07d-b778efa21fc3,Dumping Site Ndiagu Umuchita Community,Unofficial,NaN,EBSNCA16,Mixed Dumpsite,2018-02-02 07:43:42.757000+00:00,Onicha,EB,Ebonyi,POINT (373653.843 676145.056)
2,40074,84aafd99-3ae1-4453-9361-f790734b6079,Ndiagu Ufueze Dumpsite,Unofficial,NaN,EBSNCA16,Mixed Dumpsite,2018-02-02 07:43:42.757000+00:00,Onicha,EB,Ebonyi,POINT (373390.025 676290.642)
3,40075,ab43c257-2ca9-4621-975b-c705bcbf3736,Itawure Dumpsite 1,Unofficial,NaN,EKSEFO07,Organic Dumpsite,2018-02-02 07:43:42.757000+00:00,Efon,EK,Ekiti,POINT (53089.107 855940.826)
4,40076,62db3e88-f198-4849-9dfe-78faab3e0d14,Itawure Dumpsite 2,Unofficial,NaN,EKSEFO07,Organic Dumpsite,2018-02-02 07:43:42.757000+00:00,Efon,EK,Ekiti,POINT (53140.932 856101.035)
...,...,...,...,...,...,...,...,...,...,...,...,...
6472,40067,43bf8b68-cf63-4af4-bb4b-4f5036098b88,Irabiji Ibokun Road Egbeda,Unofficial,NaN,OSSOLA08,Organic Dumpsite,2020-05-13 11:59:07.463000+00:00,Olorunda,OS,Osun,POINT (20602.440 864349.912)
6473,40068,4f7ab7a4-2613-4640-ad77-bfecc44d17f2,Fotab Road Dump Site,Unofficial,NaN,OSSIET04,Mixed Dumpsite,2020-05-13 11:59:07.463000+00:00,Ife East,OS,Osun,POINT (4018.088 831052.983)
6474,40069,329df79f-4a77-45db-ac77-c06356072caa,Ajebamidele Dumpsite,Unofficial,NaN,OSSIET04,Mixed Dumpsite,2020-05-13 11:59:07.463000+00:00,Ife East,OS,Osun,POINT (3821.142 831057.958)
6475,40070,6b998ae5-3ce2-4419-86bf-7fcddd46ff94,Ifedebi Dumpsite,Unofficial,NaN,OSSIET09,Mixed Dumpsite,2020-05-13 11:59:07.463000+00:00,Ife East,OS,Osun,POINT (10954.069 823541.453)
6476,40071,60657aa3-d221-46c5-8a33-5eed87f6363e,Rcc Dumpsite,Unofficial,NaN,OSSICL06,Mixed Dumpsite,2020-05-13 11:59:07.463000+00:00,Ife Central,OS,Osun,POINT (1022.457 834334.887)

In [676]:
df15 = get_number_of_dump_sites(df15, df4)

In [672]:
def get_number_of_markets(cholera, water):
    cholera = cholera.copy()
    cholera['Number_of_markets'] = 0
    size = cholera.shape[0]
    for i in range(0,size):
        lga = cholera.loc[i,'WardCode']
        df = water[water['ward_code'] == lga].shape[0]
        cholera.at[i,'Number_of_markets'] = df
    return cholera

In [674]:
df15 = get_number_of_markets(df15,df6)

In [678]:
df15['area'] = df15['geometry'].area

In [679]:
df15

,State,LGA,ward,WardCode,geometry,Target,Number_of_public_water_supply,Number_of_markets,Number_of_dump_sites,area
0,Abia,Umuahia South,Ubakala A,ABSAPR12,"POLYGON ((329878.126 606239.826, 329899.087 60...",1,17,5,3,2.495595e+07
1,Katsina,Kankia,Rimaye,42007,"POLYGON ((377863.410 1352701.667, 376889.942 1...",1,0,1,0,8.149431e+07
2,Katsina,Kankia,Tsa Magam,42010,"MULTIPOLYGON (((355262.803 1364164.364, 354719...",1,0,0,0,1.193838e+08
3,Katsina,Kankia,Tafashiya Nasarawa,42009,"POLYGON ((370876.737 1385994.233, 371517.595 1...",1,0,0,0,6.914710e+07
4,Katsina,Kankia,Sukuntuni,42008,"POLYGON ((369443.373 1355918.626, 368469.446 1...",1,0,0,0,6.767949e+07
...,...,...,...,...,...,...,...,...,...,...
1036,Ogun,Yewa North,Ijoun,OGSYEN07,"POLYGON ((-190197.737 813910.881, -189775.363 ...",0,7,2,8,3.896691e+08
1037,Ogun,Yewa North,Igbogila / Ibese,OGSYEN06,"POLYGON ((-158152.075 771693.527, -158937.853 ...",0,1,0,3,1.623994e+08
1038,Ogun,Yewa North,Sunwa,OGSYEN11,"POLYGON ((-169938.024 792979.349, -171073.916 ...",0,4,3,15,2.698987e+08
1039,Ogun,Imeko Afon,Imeko,OGSION07,"POLYGON ((-177263.515 833753.722, -176708.544 ...",0,14,2,19,1.005402e+08
1040,Benue,Apa,Oba,BNSGKP07,"POLYGON ((375201.858 839548.396, 374607.407 83...",0,0,0,0,9.948551e+07

In [692]:
def get_average_distance(cholera,data1,data2,title):
    cholera = cholera.copy()
    cholera[title] = 0
    size = cholera.shape[0]
    for i in range(0,size):
        lga = cholera.loc[i,'WardCode']
        dataset2 = data2[data2['ward_code'] == lga]['geometry'].reset_index(drop=True)
        dataset1 = data1[data1['ward_code'] == lga]['geometry'].reset_index(drop=True)
        total_distance = 0
        n1 = len(dataset1)
        n2 = len(dataset2)
        print(n1)
        if n1 == 0 or n2 == 0:
            continue
        for k in range(0,n1):
            for j in range(0,n2):
                total_distance += dataset1[k].distance(datset2[j])
        average_distance = total_distance / (n1 * n2)
        cholera.at[i,title] = average_distance
    return cholera

In [684]:
df15 = get_average_distance(df15,df4,df3)

3
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
4
0
0
0
0
1
0
0
0
15
0
4
0
0
0
0
0
0
2
0
0
0
0
0
0
0
0
0
3
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
6
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
2
0
0
0
0
0
0
0
0
0
0
7
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
2
0
0
0
0
0
0
0
0
0
2
0
0
0
0
0
0
2
0
0
0
0
0
0
6
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
3
0
0
0
0
0
0
0
1
1
0
0
0
0
12
0
0
0
0
0
2
2
5
0
2
0
0
0
0
0
0
0
12
0
0
2
1
64
0
2
0
0
0
0
0
0
0
0
0
0
0
2
0
0
0
0
2
3
0
0
0
0
0
1
0
0
0
0
4
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
52
2
0
0
1
0
0
4
0
0
0
1
0
0
0
5
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
6
6
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
2
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
9
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
2
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
3
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
1
1
0
0
0
1
0
1
5
0
0
3
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
1
0
0
0
7
0
16
20
5
9
6
11
6
1
0
1
15
64
25
49
0
0
19
4
1
14
0
0
0
0
2
0
1
0
0
0
0
0
9
1
0
0
5
12
6
0
7
0
13
0
0
0
0
0
0
0
0
3
0
0
0
1
0
6
2
0
2
0
0
0
0
0
0
4
4
23
0
1
0
0
0
0
1
0
3
0
0
0
0
0
0
0
0
0
0
1
0
0
3
0
0
2
6
8
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
2
0
0
0
0
0
0
0
0
3
1
0
6
3
1
3
2
0
1
12
3
5
0
0
1
0
4
12
0
0
0
0
0
0
0
2
0
0
0
1
2
0
0
0
2
0
9
7
0
0
8
8
0
0
1
15
15
0
4
0
0
3
41
0
0
0
3
0
1
0
3
0
2
5
18
0
10
2
3
0
1
0
0
0
23
0
2
1
0
0
3
3
6
19
14
22
0
14
7
0
3
12
0
5
1
8
0
0
0
5
1
0
1
5
4
0
2
0
12
1
0
1
1
0
3
18
10
5
0
1
1
4
2
1
0
0
2
8
1
0
5
1
4
2
4
1
0
2
1
8
3
15
19
0

In [690]:
df15 = get_average_distance(df15,df6,df4)

5
1
0
0
0
0
1
3
0
1
0
0
2
0
0
0
0
0
0
3
1
1
3
0
1
1
0
0
1
10
0
3
0
1
2
1
0
1
5
1
2
0
0
0
2
2
0
4
1
0
2
1
3
1
1
0
0
2
5
0
0
0
0
0
1
0
1
1
1
1
0
0
0
0
0
2
1
3
1
1
2
1
2
1
2
2
0
0
1
0
0
3
1
0
1
1
0
0
0
0
0
2
0
1
1
1
2
2
1
3
0
0
0
0
2
0
1
1
0
0
1
0
1
0
1
0
2
1
1
1
0
1
0
0
2
0
0
0
0
1
2
0
0
2
1
2
0
0
2
1
0
0
3
1
4
0
0
0
0
0
1
0
0
0
0
1
3
1
1
1
0
0
0
0
0
0
0
1
1
0
1
1
2
1
5
0
1
1
0
1
3
0
0
0
0
0
0
0
0
1
0
0
0
1
1
1
0
1
0
0
3
1
0
0
0
0
1
0
0
1
0
1
0
1
1
0
3
1
0
1
0
1
1
0
0
0
0
0
2
0
0
0
0
1
1
0
1
0
0
1
0
0
0
2
4
2
2
1
0
0
1
1
0
0
2
0
0
0
1
0
1
0
0
1
2
9
0
0
1
1
2
0
2
1
0
0
0
2
0
1
1
0
0
0
2
0
1
3
2
0
0
0
2
1
0
0
1
1
0
8
0
0
0
1
0
0
0
0
1
0
0
0
3
2
1
1
1
0
1
0
1
1
0
1
0
0
0
0
1
0
0
1
3
1
0
0
0
3
0
2
1
1
2
1
2
0
0
1
0
0
0
1
1
2
3
0
0
0
0
0
0
0
0
0
0
0
3
0
0
0
1
1
1
1
0
0
3
1
0
0
0
1
0
6
4
0
0
1
5
1
2
0
1
0
5
0
1
1
1
0
1
1
0
4
0
0
0
0
1
0
1
1
8
1
0
1
2
0
0
0
6
4
0
3
0
2
3
0
1
1
0
1
0
0
2
1
1
1
2
2
2
0
0
0
0
2
0
1
2
4
1
3
2
0
0
8
6
0
3
3
2
7
2
2
3
2
8
2
1
0
1
1
0
1
0
1
5
2
1
0
1
1
2
4
0
3
1
2
1
1
0
0
0
3
1
0
2
1
0
0
1
4
1
2
0
2
0
0
0
0
3
0
1
1
0
0
1
1
2
0
0
5
0
1
0
3
2
0
20
1
0
1
0
1
3
17
5
1
1
1
0
0
1
0
0
2
0
0
1
0
2
0
1
1
0
0
0
1
1
0
2
2
0
1
0
0
0
0
0
0
2
0
3
0
2
1
1
1
0
1
8
0
0
0
0
0
0
0
0
0
0
2
0
0
0
2
1
2
1
3
1
2
0
0
0
0
1
0
0
0
1
0
0
0
1
2
0
0
0
2
0
0
0
1
0
1
2
0
0
0
1
1
1
0
3
0
6
0
4
0
1
3
0
2
0
2
3
0
1
0
1
2
1
0
1
2
1
0
1
2
2
3
1
0
0
1
1
0
3
0
1
1
1
0
1
3
1
1
2
2
3
0
0
0
1
7
2
1
1
0
1
2
1
1
1
1
5
2
0
0
3
0
2
2
4
0
0
1
2
0
0
1
2
0
2
3
4
2
2
1
3
2
2
9
6
3
2
2
5
1
1
2
0
0
2
0
3
0
0
0
0
1
0
0
8
0
4
0
4
0
5
4
6
1
2
0
0
0
4
0
0
0
0
0
1
0
0
0
1
1
1
2
3
5
0
0
0
0
0
0
0
0
2
0
2
2
5
3
4
1
0
0
1
1
2
1
1
22
0
1
21
1
2
0
2
3
4
1
0
12
0
1
1
10
0
11
0
0
1
1
3
0
3
1
3
4
6
1
0
2
3
4
1
0
6
4
2
3
1
0
8
4
0
2
1
1
4
1
4
3
2
2
0
16
3
3
4
1
1
0
2
0
6
0
0
0
2
0
0
2
1
0
1
1
0
2
1
0
3
1
1
0
0
1
0
0
0
1
0
3
1
0
0
0
2
0
1
4
0
0
0
2
0
1
2
1
0
4
7
7
3
6
1
0
0
0
1
0
0
0
1
0
6
0
0
1
1
4
0
2
2
2
2
0
9
1
6
0
1
2
7
2
1
1
3
1
0
1
3
1
0
3
3
0
0
0
1
1
1
1
2
6
4
0
1
0
0
0
8
0
1
1
1
3
1
0
14
4
1
0
3
3
3
4
2
0
0
8
0
1
0
2
2
0
1
0
0
1
0
0
0
1
4
5
0
1
1
1
1
2
0
3
0
0
3
1
0
0
1
1
0
0
0
1
1
4
2
0
3
2
0

In [694]:
df15 = get_average_distance(df15,df6,df3)

5
1
0
0
0
0
1
3
0
1
0
0
2
0
0
0
0
0
0
3
1
1
3
0
1
1
0
0
1
10
0
3
0
1
2
1
0
1
5
1
2
0
0
0
2
2
0
4
1
0
2
1
3
1
1
0
0
2
5
0
0
0
0
0
1
0
1
1
1
1
0
0
0
0
0
2
1
3
1
1
2
1
2
1
2
2
0
0
1
0
0
3
1
0
1
1
0
0
0
0
0
2
0
1
1
1
2
2
1
3
0
0
0
0
2
0
1
1
0
0
1
0
1
0
1
0
2
1
1
1
0
1
0
0
2
0
0
0
0
1
2
0
0
2
1
2
0
0
2
1
0
0
3
1
4
0
0
0
0
0
1
0
0
0
0
1
3
1
1
1
0
0
0
0
0
0
0
1
1
0
1
1
2
1
5
0
1
1
0
1
3
0
0
0
0
0
0
0
0
1
0
0
0
1
1
1
0
1
0
0
3
1
0
0
0
0
1
0
0
1
0
1
0
1
1
0
3
1
0
1
0
1
1
0
0
0
0
0
2
0
0
0
0
1
1
0
1
0
0
1
0
0
0
2
4
2
2
1
0
0
1
1
0
0
2
0
0
0
1
0
1
0
0
1
2
9
0
0
1
1
2
0
2
1
0
0
0
2
0
1
1
0
0
0
2
0
1
3
2
0
0
0
2
1
0
0
1
1
0
8
0
0
0
1
0
0
0
0
1
0
0
0
3
2
1
1
1
0
1
0
1
1
0
1
0
0
0
0
1
0
0
1
3
1
0
0
0
3
0
2
1
1
2
1
2
0
0
1
0
0
0
1
1
2
3
0
0
0
0
0
0
0
0
0
0
0
3
0
0
0
1
1
1
1
0
0
3
1
0
0
0
1
0
6
4
0
0
1
5
1
2
0
1
0
5
0
1
1
1
0
1
1
0
4
0
0
0
0
1
0
1
1
8
1
0
1
2
0
0
0
6
4
0
3
0
2
3
0
1
1
0
1
0
0
2
1
1
1
2
2
2
0
0
0
0
2
0
1
2
4
1
3
2
0
0
8
6
0
3
3
2
7
2
2
3
2
8
2
1
0
1
1
0
1
0
1
5
2
1
0
1
1
2
4
0
3
1
2
1
1
0
0
0
3
1
0
2
1
0
0
1
4
1
2
0
2
0
0
0
0
3
0
1
1
0
0
1
1
2
0
0
5
0
1
0
3
2
0
20
1
0
1
0
1
3
17
5
1
1
1
0
0
1
0
0
2
0
0
1
0
2
0
1
1
0
0
0
1
1
0
2
2
0
1
0
0
0
0
0
0
2
0
3
0
2
1
1
1
0
1
8
0
0
0
0
0
0
0
0
0
0
2
0
0
0
2
1
2
1
3
1
2
0
0
0
0
1
0
0
0
1
0
0
0
1
2
0
0
0
2
0
0
0
1
0
1
2
0
0
0
1
1
1
0
3
0
6
0
4
0
1
3
0
2
0
2
3
0
1
0
1
2
1
0
1
2
1
0
1
2
2
3
1
0
0
1
1
0
3
0
1
1
1
0
1
3
1
1
2
2
3
0
0
0
1
7
2
1
1
0
1
2
1
1
1
1
5
2
0
0
3
0
2
2
4
0
0
1
2
0
0
1
2
0
2
3
4
2
2
1
3
2
2
9
6
3
2
2
5
1
1
2
0
0
2
0
3
0
0
0
0
1
0
0
8
0
4
0
4
0
5
4
6
1
2
0
0
0
4
0
0
0
0
0
1
0
0
0
1
1
1
2
3
5
0
0
0
0
0
0
0
0
2
0
2
2
5
3
4
1
0
0
1
1
2
1
1
22
0
1
21
1
2
0
2
3
4
1
0
12
0
1
1
10
0
11
0
0
1
1
3
0
3
1
3
4
6
1
0
2
3
4
1
0
6
4
2
3
1
0
8
4
0
2
1
1
4
1
4
3
2
2
0
16
3
3
4
1
1
0
2
0
6
0
0
0
2
0
0
2
1
0
1
1
0
2
1
0
3
1
1
0
0
1
0
0
0
1
0
3
1
0
0
0
2
0
1
4
0
0
0
2
0
1
2
1
0
4
7
7
3
6
1
0
0
0
1
0
0
0
1
0
6
0
0
1
1
4
0
2
2
2
2
0
9
1
6
0
1
2
7
2
1
1
3
1
0
1
3
1
0
3
3
0
0
0
1
1
1
1
2
6
4
0
1
0
0
0
8
0
1
1
1
3
1
0
14
4
1
0
3
3
3
4
2
0
0
8
0
1
0
2
2
0
1
0
0
1
0
0
0
1
4
5
0
1
1
1
1
2
0
3
0
0
3
1
0
0
1
1
0
0
0
1
1
4
2
0
3
2
0

In [695]:
df15.to_csv('ultimate_complete_dataset.csv')

In [696]:
df15

,State,LGA,ward,WardCode,geometry,Target,Number_of_public_water_supply,Number_of_markets,Number_of_dump_sites,area,avg_distance_btw_dumpsites_&_water_sources,avg_distance_btw_markets_&_dumpsites,avg_distance_btw_markets_&_water_sources
0,Abia,Umuahia South,Ubakala A,ABSAPR12,"POLYGON ((329878.126 606239.826, 329899.087 60...",1,17,5,3,2.495595e+07,2228.902305,686355.433372,688063.337370
1,Katsina,Kankia,Rimaye,42007,"POLYGON ((377863.410 1352701.667, 376889.942 1...",1,0,1,0,8.149431e+07,0.000000,0.000000,0.000000
2,Katsina,Kankia,Tsa Magam,42010,"MULTIPOLYGON (((355262.803 1364164.364, 354719...",1,0,0,0,1.193838e+08,0.000000,0.000000,0.000000
3,Katsina,Kankia,Tafashiya Nasarawa,42009,"POLYGON ((370876.737 1385994.233, 371517.595 1...",1,0,0,0,6.914710e+07,0.000000,0.000000,0.000000
4,Katsina,Kankia,Sukuntuni,42008,"POLYGON ((369443.373 1355918.626, 368469.446 1...",1,0,0,0,6.767949e+07,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1036,Ogun,Yewa North,Ijoun,OGSYEN07,"POLYGON ((-190197.737 813910.881, -189775.363 ...",0,7,2,8,3.896691e+08,12258.199760,827874.734589,825165.705322
1037,Ogun,Yewa North,Igbogila / Ibese,OGSYEN06,"POLYGON ((-158152.075 771693.527, -158937.853 ...",0,1,0,3,1.623994e+08,12232.806922,0.000000,0.000000
1038,Ogun,Yewa North,Sunwa,OGSYEN11,"POLYGON ((-169938.024 792979.349, -171073.916 ...",0,4,3,15,2.698987e+08,12070.320915,818847.081765,812723.516118
1039,Ogun,Imeko Afon,Imeko,OGSION07,"POLYGON ((-177263.515 833753.722, -176708.544 ...",0,14,2,19,1.005402e+08,2369.499677,847787.535338,847452.264997
1040,Benue,Apa,Oba,BNSGKP07,"POLYGON ((375201.858 839548.396, 374607.407 83...",0,0,0,0,9.948551e+07,0.000000,0.000000,0.000000